<% provide(:title, 'Home') %> <!-- przypisuje zmiennej title "Home"  znaczniki bez rowna sie tylko execute code -->
<div class="center hero-unit"> <!-- # ta klasa(hero-unit) odpowiada za obszar o delikatnie niebieskim tle. importujemy 2 klasy -->
		<h1>Welcome to system</h1>
		<h2>this system perform gathering and visualisation of given distributed data source</h2>
		<p>a	</p>
		<p>	a</p>
		<p>	a</p>
		<p>	a</p>
		<p>	a</p>
		<p>a	</p>
		<p>	a</p>
		<p>	a</p>
		<p>a	</p>
		<p>	a</p>
		<p>a	</p>
		<p>	a</p>
		<p>	a</p>
		<p>	a</p>
		<p>	a</p>
		<p>a	</p>
		<p>a	</p>
		<p>	aa</p>
		<p>	</p>
</div>


